:root {
    --black: #111414;
    --white: #fff;
    --gray: #52525233;
}
body {
    background: #111414;
}
#navbar {
    position: fixed;
    top: 0;
    background: #1e1e1e;
    width: 100%;
    padding: 12px 24px;
    backdrop-filter: blur(25px);
    z-index: 99;

    .nav-logo {
        img {
            margin-right: 10px;
        }
    }

    .nav-link {

        .links {
            margin-top: 5px;
            color: var(--light-gray-500, #CCC);
            font-size: 16px;
            font-weight: 600;
            border-bottom: 3px solid #1e1e1e;
            height: 20px;
            transition: 0.3s all;
            margin-right: 70px;

            &:hover {
                color: var(--white);
                border-bottom: 3px solid var(--white);
            }
        }
    }

    .nav-button {
        margin-right: 44px;
    }
}

#header {
    .header_background {
        width: 100%;
        height: 687px;
        background: linear-gradient(90deg, rgba(49,137,205,1)  0%, rgba(49,137,205,1) 35%, rgba(31,124,196,1) 100%);

        img {
            position: absolute;
            top: 75px;
            max-width: 100%;
            height: auto;
            z-index: 1;
        }

        .header-text {
            z-index: 2;
            position: relative;
            top: 219px;

            h1 {
                color: var(--white);
                font-size: 48px;
                font-weight: 700;
                
            }
            
            p {
                color: var(--white, #FFF);
                font-size: 19px;
            }

            &__button {
                & a {
                    margin-top: 30px;
                    white-space: nowrap;
                    height: 16px;
                }
                & a:not(:first-child) {
                    margin-left: 25px;
                }
            }
            
            &__list {
                ul {
                    margin-top: 10px;
                    li {
                        list-style: inside;

                        font-size: 16px;
                        color: var(--white);
                        font-weight: 600;

                        &:not(:first-child) {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}
#chips {
    background: #111414;

    .h2_title {
        font-size: 48px;
        padding-top: 117px;
        color: white;
    }

    .chips_section {

        margin-top: 10px;

        &__text {

            white-space: nowrap;

            .h3_title {        
                margin-bottom: 30px;
            }
            .p_title {
                font-size: 18px;
                line-height: 150%;
                color: white;
            }

        }
    }
}

#not-sure {
    background: #111414;

    .not-sure__text {

        p { 
            color: #FFF;
            font-size: 36px;
        }
        .h2_title {
            font-size: 48px;
            line-height: 120px;
        }
    }
    .not-sure__social {
        margin-top: 50px;
        &__item {
            p {
                color: var(--white);
                font-size: 24px;
                margin-left: 10px;
            }
        }
    }
}

#ready {
    background: #1e2020;

    .ready__text {
        padding: 20px;

        .h2_title {
            font-size: 44px;
        }
        .button_a {
            margin-top: 25px;
            width: auto;
            white-space: nowrap;
            height: auto;
        }
    }
}

#basement {
    background: #1d2020;
    padding-top: 24px;
    padding-left: 12px;
    margin-bottom: 0px !important;

    p {
        padding: 15px;
        color: var(--white, #FFF);
        font-size: 24px;
    }
    a {
        padding: 15px;
        color: var(--white, #FFF);
        font-size: 24px;
    }
}