.sber {
    font-family: Roboto, Arial, sans-serif;
    font-size: 2.8vmax;
    background: rgb(169,229,0);
    background: -moz-linear-gradient(42deg, rgba(169,229,0,1) 0%, rgba(4,173,102,1) 48%, rgba(0,137,212,1) 100%);
    background: -webkit-linear-gradient(42deg, rgba(169,229,0,1) 0%, rgba(4,173,102,1) 48%, rgba(0,137,212,1) 100%);
    background: linear-gradient(42deg, rgba(169,229,0,1) 0%, rgba(4,173,102,1) 48%, rgba(0,137,212,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tinkoff {
    margin-top: 25px;
    
    font-family: Roboto, Arial, sans-serif;
    font-size: 2.8vmax;
    background: rgb(169,229,0);
    background: rgb(255,222,45);
    background: linear-gradient(42deg, rgba(255,222,45,1) 0%, rgba(255,255,255,1) 69%, rgb(199, 199, 191) 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}