@media (max-width: 900px) {
    .header_background {
        height: 600px;
        background: #1e2020 !important;

        img {
            display: none;
        }

        .header-text {

            text-align: center;

            h1 {
                margin: 24px 0px;
            }
        }
    }

    #chips {
        .chips {
            display: flex;
            flex-direction: column;
            .chips_text {
                width: 100%;
            }
        }
        .chips:nth-child(2) {
            flex-direction: column-reverse;
        }
        .chips:nth-child(4) {
            flex-direction: column-reverse;
        }
    }

    #accordion {
        display: none;
    }

    #basement {
        .basement-item {
            flex-direction: column;
            justify-content: center;
        }
    }
}

@media (max-width: 460px) {

    #navbar {
        .nav-logo {
            h2 {
                display: none;
            }
        }
    }



    #not-sure {
        .not-sure__social {
            display: flex;
            flex-direction: column;
            height: 200px;
        }
    }

    #basement {
        .basement-item:not(:first-child) {
            display: flex;
            flex-direction: column;
        }
    }

    #chips {
        .chips_sec {
            text-align: center;
        }
    }
}

@media (max-width: 350px) {
    #header {
        .header_background {
            
            height: 750px;

            .header-text {

                &__button {
                    flex-direction: column;

                    & a:not(:first-child) {
                        margin-left: 0px;
                    }
                }


                &__list {
                    ul {
                        flex-direction: column;

                        li:not(:first-child) {
                            margin-left: 0px;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }

    #chips {
        .h2_title {
            padding-top: 250px;
        }

        .chips_sec {
            .chips_section__text {

                white-space: pre-wrap;
            }
        }
    }

}


