@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --black: #111414;
    --white: #fff;
    --gray: #52525233;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
.patch,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
}

/* always display scrollbars */
html {
    height: 100%;
    
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 12px;
    background: #111414;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

strong {
    font-weight: bold;
}

input {
    outline: none;
    box-sizing: border-box; 
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
    max-width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

section{
    margin: 120px 0 120px 0;
}
section:first-child{
    margin: 0 0 50px 0!important;
}

.container {
    max-width: 1160px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

// DISPLAY
.d_flex_row{
    display: flex;
    flex-direction: row;
}
.d_flex_col{
    display: flex;
    flex-direction: column;
}
.d_grid{
    display: grid;
}
.d_none{
    display: none;
}
// DISPLAY

// GRID
.g_col_2{
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
// GRID

// FLEX GROW
.f_grow{
    flex-grow: 2;
}
// FLEX GROW

//FLEX WRAP
.wrap{
    flex-wrap: wrap;
}
//FLEX WRAP


// FLEX CONTAINER JUSTIFY
.j_between{
    justify-content: space-between;
}
.j_around{
    justify-content: space-around;
}
.j_start{
    justify-content: flex-start;
}
.j_end{
    justify-content: flex-end;
}
.j_center{
    justify-content: center;
}
// FLEX CONTAINER JUSTIFY


// FLEX CONTAINER ALIGN
.a_start{
    align-items: flex-start;
}
.a_end{
    align-items: flex-end;
}
.a_center{
    align-items: center;
}
.a_stretch{
    align-items: stretch;
}
.a_baseline{
    align-items: baseline;
}
//button_a 

.button_a {
    background: var(--white);
    width: 100%;
    height: 48px;
    border: 2px solid var(--white);

    padding: 12px 24px;
    border-radius: 4px;

    text-align: center;
    font-weight: 600;
    transition: 0.3s all;
    color: var(--black);

    cursor: pointer;

    &:hover {
        background: #1e2020;
        color: var(--white);
        box-shadow: 0px 0px 2px 2px #E3E3E3;
    }
}

.button_b {
    width: 100%;
    height: 48px;

    border-radius: 4px;
    border: 1px solid var(--white, #FFF);
    background: var(--gray-transparent, rgba(82, 82, 82, 0.20));
    padding: 12px 24px;

    text-align: center;

    font-weight: 600;
    transition: 0.3s all;
    color: var(--white);

    cursor: pointer;

    &:hover {
        background: #1e2020;
        color: var(--white);
        box-shadow: 0px 0px 2px 2px #E3E3E3;
    }
}

// TITLE
.h1_title {
    color: var(--white, #FFF);
    font-size: 48px;
    font-weight: 700;

    @media (max-width: 900px) {
        font-size: 44px;
        font-weight: 700;
    }
}
.h2_title{
    color: var(--white, #FFF);
    font-size: 27px;
    line-height: 37px;

    @media (max-width: 900px) {
        text-align: center;
        font-size: 24px;
    }
}

.h3_title{
    color: var(--white, #FFF);
    font-weight: 300;
    font-size: 36px;

    @media (max-width: 900px) {
        margin-top: 10px;
        text-align: center;
        font-size: 14px;
    }
}

.cool-cover:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Manrope', sans-serif;
}