body {
    background-color: #111414;
}

#register-form {
    margin-top: 50px;
    padding: 10px;
    gap: 50px;
    border-radius: 10px;
    max-width: 90%;
    height: 522px;
    background-color: #1e2020;
    min-width: 25%;

    .form__up {

        h2 {
            white-space: nowrap;
        }

        &:not(:first-child) {
            margin-top: 50px;
        }

        form {

            h3 {
                margin-top: 30px;
                color: white;
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 10px;
            }
            #form-nickname {
                background-color: #383838;
                border: 1.5px solid #5e5e5e;
                height: 48px;
                padding: 12px 20px;
                border-radius: 7px;
                color: white;
                font-weight: bold;
            }     

            input[type='button'] {
                width: 103px;
                margin-top: 19px;
            }
        }
    }
}

