@media (max-width: 670px) {

    #products {

        .products__menu {

            display: flex;
            flex-direction: column;

            &__search {

                margin-top: 35px;

            }

        }

    }

}